@use '../helpers/abstracts' as *;

.comments_w {
	position: relative;
	width: 100%;

	&::after,
	&::before {
		position: absolute;

		content: '';

		width: 11.4rem;
		height: 10rem;

		// background-image: url(../imgs/comments/decor.svg);
		background-image: url("data:image/svg+xml,%3Csvg width='114' height='94' viewBox='0 0 114 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='19.5038' cy='3.16656' rx='2.5' ry='2.62469' transform='rotate(14.4844 19.5038 3.16656)' fill='%23706FE5'/%3E%3Cellipse cx='8.5526' cy='45.5593' rx='2.5' ry='2.62469' transform='rotate(14.4844 8.5526 45.5593)' fill='%23706FE5'/%3E%3Cellipse cx='55.7054' cy='12.5184' rx='2.5' ry='2.62469' transform='rotate(14.4844 55.7054 12.5184)' fill='%23706FE5'/%3E%3Cellipse cx='44.7542' cy='54.9112' rx='2.5' ry='2.62469' transform='rotate(14.4844 44.7542 54.9112)' fill='%23706FE5'/%3E%3Cellipse cx='91.907' cy='21.8703' rx='2.5' ry='2.62469' transform='rotate(14.4844 91.907 21.8703)' fill='%23706FE5'/%3E%3Cellipse cx='80.9558' cy='64.2631' rx='2.5' ry='2.62469' transform='rotate(14.4844 80.9558 64.2631)' fill='%23706FE5'/%3E%3Cellipse cx='14.0282' cy='24.3628' rx='2.5' ry='2.62469' transform='rotate(14.4844 14.0282 24.3628)' fill='%23706FE5'/%3E%3Cellipse cx='3.07708' cy='66.7554' rx='2.5' ry='2.62469' transform='rotate(14.4844 3.07708 66.7554)' fill='%23706FE5'/%3E%3Cellipse cx='50.2298' cy='33.7147' rx='2.5' ry='2.62469' transform='rotate(14.4844 50.2298 33.7147)' fill='%23706FE5'/%3E%3Cellipse cx='39.2787' cy='76.1072' rx='2.5' ry='2.62469' transform='rotate(14.4844 39.2787 76.1072)' fill='%23706FE5'/%3E%3Cellipse cx='86.4314' cy='43.0666' rx='2.5' ry='2.62469' transform='rotate(14.4844 86.4314 43.0666)' fill='%23706FE5'/%3E%3Cellipse cx='75.4803' cy='85.4591' rx='2.5' ry='2.62469' transform='rotate(14.4844 75.4803 85.4591)' fill='%23706FE5'/%3E%3Cellipse cx='37.6046' cy='7.84252' rx='2.5' ry='2.62469' transform='rotate(14.4844 37.6046 7.84252)' fill='%23706FE5'/%3E%3Cellipse cx='26.6534' cy='50.2353' rx='2.5' ry='2.62469' transform='rotate(14.4844 26.6534 50.2353)' fill='%23706FE5'/%3E%3Cellipse cx='73.8062' cy='17.1943' rx='2.5' ry='2.62469' transform='rotate(14.4844 73.8062 17.1943)' fill='%23706FE5'/%3E%3Cellipse cx='62.855' cy='59.5872' rx='2.5' ry='2.62469' transform='rotate(14.4844 62.855 59.5872)' fill='%23706FE5'/%3E%3Cellipse cx='110.008' cy='26.5462' rx='2.5' ry='2.62469' transform='rotate(14.4844 110.008 26.5462)' fill='%23706FE5'/%3E%3Cellipse cx='99.0566' cy='68.939' rx='2.5' ry='2.62469' transform='rotate(14.4844 99.0566 68.939)' fill='%23706FE5'/%3E%3Cellipse cx='32.1291' cy='29.0388' rx='2.5' ry='2.62469' transform='rotate(14.4844 32.1291 29.0388)' fill='%23706FE5'/%3E%3Cellipse cx='21.1779' cy='71.4313' rx='2.5' ry='2.62469' transform='rotate(14.4844 21.1779 71.4313)' fill='%23706FE5'/%3E%3Cellipse cx='68.3307' cy='38.3906' rx='2.5' ry='2.62469' transform='rotate(14.4844 68.3307 38.3906)' fill='%23706FE5'/%3E%3Cellipse cx='57.3795' cy='80.7831' rx='2.5' ry='2.62469' transform='rotate(14.4844 57.3795 80.7831)' fill='%23706FE5'/%3E%3Cellipse cx='104.532' cy='47.7425' rx='2.5' ry='2.62469' transform='rotate(14.4844 104.532 47.7425)' fill='%23706FE5'/%3E%3Cellipse cx='93.5811' cy='90.135' rx='2.5' ry='2.62469' transform='rotate(14.4844 93.5811 90.135)' fill='%23706FE5'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&::after {
		bottom: 0;
		right: 0;
	}

	&:before {
		left: 0;
		top: 0;
	}
}

.comments {
	position: relative;
	display: block;

	max-width: 67rem;
	width: 100%;
	margin: 0 auto;

	&::after,
	&::before {
		position: absolute;
		top: -5rem;

		content: '';

		width: 5.6rem;
		height: 5rem;

		background-image: url(../imgs/quote.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&::after {
		left: -6rem;
	}
	&::before {
		right: -6rem;
		rotate: 180deg;
	}
}

.comments_content {
	overflow: hidden;
	&:not(:last-child) {
		margin-bottom: 8rem;
	}
}

.comments_title {
	margin-bottom: 11rem;
}

.comments__item {
	display: block;
	max-width: 100%;
}

.comments__item_text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 3.5;
	text-align: center;
	color: $color_text_2;
}

// nav

.comments_nav {
	display: flex;
}

.comments_nav__item {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-content: center;
	align-items: center;
	height: 21rem;

	cursor: pointer;
	.swiper-slide.swiper-slide-thumb-active & {
		min-width: 18rem;
	}
}

.comments_nav__img_w {
	border-radius: 50%;
	overflow: hidden;
	transition: all $transition_dur ease-in-out;
	flex-shrink: 0;

	.swiper-slide.swiper-slide-thumb-active & {
		height: 9.6rem;
		width: 9.6rem;

		// outline: 5px solid $color_accent;
		border: 0.5rem solid $color_white;
		box-shadow: 0 0 0 0.5rem $color_accent;
	}
	.swiper-slide:not(.swiper-slide-thumb-active) & {
		filter: blur(0.6px);
		height: 7.8rem;
		width: 7.8rem;
	}
}

.comments_nav__img {
	@extend %cover_img;
}

.comments_nav__data {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	text-align: center;
	.swiper-slide:not(.swiper-slide-thumb-active) & {
		display: none;
	}
}

.comments_nav__name {
	font-size: 2.4rem;
	font-weight: 700;

	color: $color_title;
	white-space: nowrap;
}

.comments_nav__pos {
	color: $color_text;
	font-size: 2rem;
	font-weight: 500;
	white-space: nowrap;
}
