@use '../helpers/abstracts' as *;

.header {
	display: block;
	height: 4rem;
	position: sticky;
	top: 0;
	background-color: rgba($color_white, 0.7);
	z-index: $z_index_header;
}

.header__in {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	display: flex;
	column-gap: 4.4rem;
}

.header__nav_link {
	font-size: 1.6rem;
	line-height: 2.8rem;
	color: $color_title;
	text-decoration: none;
	transition: color $transition_dur ease-in-out;
	&:hover,
	&:active,
	&:focus {
		color: $color_accent;
	}
}
