@use '../helpers/abstracts' as *;
.hero {
	display: flex;
	column-gap: 6rem;
	align-items: center;
}

.hero__info_wrap {
	display: block;
	max-width: 60%;
	flex-shrink: 0;
}

.hero__title {
	margin-bottom: 4.2rem;
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.83;
	color: $color_title;

	strong {
		position: relative;
		padding: 0 3.8rem;
		display: inline-block;
		color: $color_accent;

		border: 0.8rem solid $color_accent;

		span {
			--circle-d: 2.8rem;
			--minus-half-circle-d: calc(var(--circle-d) * (-0.5));
			position: absolute;
			display: block;
			height: var(--circle-d);
			width: var(--circle-d);
			border-radius: 50%;
			border: 0.8rem solid $color_accent;
			background-color: $color_white;

			&:nth-child(1) {
				top: var(--minus-half-circle-d);
				left: var(--minus-half-circle-d);
			}
			&:nth-child(2) {
				top: var(--minus-half-circle-d);
				right: var(--minus-half-circle-d);
			}
			&:nth-child(3) {
				bottom: var(--minus-half-circle-d);
				right: var(--minus-half-circle-d);
			}
			&:nth-child(4) {
				bottom: var(--minus-half-circle-d);
				left: var(--minus-half-circle-d);
			}
		}
	}
}

.hero__descr {
	&:not(:last-child) {
		margin-bottom: 2.4rem;
	}
}

.hero__btns {
	display: flex;
	column-gap: 3.4rem;
}

.btn_watch {
	display: flex;
	column-gap: 1.2rem;
	align-items: center;

	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
	color: $color_text_3;
}

.btn_watch__img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba($color_accent, 15%);
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;

	cursor: pointer;
	transition: all $transition_dur ease-in-out;

	&::before {
		content: '';

		width: 1rem;
		height: 1rem;

		background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.97348 5.09164C10.6766 5.49812 10.6744 6.50002 9.97348 6.9065L2.11612 11.4766C1.40851 11.8897 0.5 11.3931 0.5 10.5692V1.42675C0.5 0.508318 1.4777 0.147994 2.11612 0.519304L9.97348 5.09164Z' fill='%23706FE5'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.btn_watch:hover & {
		background-color: rgba($color_accent, 35%);
	}
}

.hero__picture_wrap {
	position: relative;
	width: 46rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.hero_picture {
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	height: 40rem;
	width: 40rem;
	border: 1rem solid $color_accent;
	border-radius: 50%;
	background-color: rgba(112, 111, 229, 0.15);
}

.hero_picture__in {
	position: absolute;
	bottom: 5rem;

	height: 46rem;
	width: 46rem;
}

.hero_picture__img {
	@extend %contain_img;
}

.hero_employees {
	position: absolute;
	bottom: -3.6rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 24rem;
	min-height: 13.2rem;
	padding: 1.4rem 2.6rem;

	box-shadow: 0 0.6rem 2rem 0px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	background-color: $color_white;

	overflow: hidden;
}

.hero_employees__photos {
	display: flex;

	margin-bottom: 1rem;
}

.hero_employees__photos_item {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #e9e8fa;

	&:not(:first-child) {
		margin-left: -2rem;
	}
}

.hero_employees__photos_img {
	@extend %cover_img;
}

.hero_employees__title {
	margin-bottom: 0.6rem;

	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.2px;

	color: $color_title;
}

.hero_employees__likes {
	display: flex;

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.2px;

	span {
		display: inline-block;
		width: 2.2rem;
		height: 2.2rem;
		margin-right: 0.6rem;

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1033 0.816986C11.4701 0.0737399 12.5299 0.0737401 12.8967 0.816986L15.5879 6.26995C15.7336 6.56509 16.0152 6.76966 16.3409 6.81699L22.3586 7.69141C23.1788 7.8106 23.5063 8.81857 22.9128 9.39711L18.5583 13.6416C18.3227 13.8714 18.2151 14.2024 18.2707 14.5268L19.2987 20.5202C19.4388 21.3371 18.5814 21.96 17.8477 21.5743L12.4653 18.7446C12.174 18.5915 11.826 18.5915 11.5347 18.7446L6.15226 21.5743C5.41864 21.96 4.5612 21.3371 4.70131 20.5202L5.72926 14.5268C5.7849 14.2024 5.67735 13.8714 5.44166 13.6416L1.08721 9.3971C0.493698 8.81857 0.821208 7.8106 1.64143 7.69141L7.65913 6.81699C7.98484 6.76966 8.2664 6.56509 8.41207 6.26995L11.1033 0.816986Z' fill='%23706FE5'/%3E%3C/svg%3E");
	}
}

.hero__decor {
	position: absolute;

	&.hero__decor--1 {
		top: 0;
		left: 0;
		width: 4.8rem;
		height: 4.8rem;
	}
	&.hero__decor--2 {
		top: 0;
		left: 0;
		width: 7rem;
		height: 7rem;
	}
	&.hero__decor--3 {
		top: -7.4rem;
		right: -5.8rem;
		width: 12.4rem;
		height: 12.4rem;
	}

	&.hero__decor--4 {
		bottom: -8.4rem;
		right: 2.4rem;

		width: 8.4rem;
		height: 8.4rem;
		background-color: $color_accent;
		border-radius: 50%;
	}
}

.hero__decor_img {
	@extend %contain_img;
}
