// @use './helpers/variables' as test;
@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	@include bp($point_1, min) {
		font-size: 10px;
	}

	@media (min-width: $point_2) and (max-width: $point_1 - 1px) {
		font-size: calc(100dvw / 1920 * 14);
	}

	@include bp($point_3) {
		font-size: 10px;
	}
}

html,
body {
	height: 100%;

	font-weight: 400;
	scroll-behavior: smooth;
}

body {
	font-family: $font_1;
	color: $color_text;
}

.wrapper {
	padding-top: 2.6rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// overflow: hidden; // break position sticky
}

.main {
	flex-grow: 1;

	@include bp($point_4, min) {
		padding-top: 6.8rem;
	}
}

.section {
	position: relative;
	width: 100%;

	&.section--bg {
		background-color: $color_bg_2;
	}
	&.section-ov_hidden {
		overflow: hidden;
	}

	@include bp($point_2, min) {
		padding: 10rem 0;
	}
	@include bp($point_3) {
		padding: 5rem 0;
	}
}

.section__title {
	font-size: 4rem;
	font-weight: 800;
	line-height: 1.5;
	color: $color_title;

	&.section__title--centr {
		text-align: center;
	}
}

.section__descr {
	font-size: 2rem;
	line-height: 1.8;
	color: $color_text;
}

.container {
	max-width: 114.4rem;
	width: 100%;
	padding: 0 2rem;

	margin: 0 auto;
}

.top_button {
	left: 100%;
	bottom: 0;
	position: sticky;

	translate: -2rem -2rem;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: $color_accent;
	cursor: pointer;

	// @include bp(1024px) {
	// 	background-color: tomato;
	// }

	// @include bp(1023px, min) {
	// 	background-color: $color_accent;
	// } All first
}

.top_button__svg {
	display: block;
	width: 2rem;
	height: 2rem;
	object-fit: contain;
	object-position: center;
	color: $color_white;
}

// @media screen and (max-width: 1023px) {
// 	.top_button {
// 		background-color: tomato;
// 	}
// } desktop first

// @media screen and (min-width: 1024px) {
// 	.top_button {
// 		background-color: tomato;
// 	}
// } mobile first
